<% content_for :title, @dungeon.name%>
<%= render 'dungeon_search' %>
<% size = 50%>



<h2 class = "room">Dungeon Information</h2>
<ul>
  <li>Location: <%= @dungeon.location%> </li>
  <li>History: <%= @dungeon.key_event%> </li>
  <li>Purpose: <%= link_to @dungeon.dungeon_purpose.purpose, @dungeon.dungeon_purpose%> </li>
  <li>Max width: <%= @dungeon.width * 5%> ft</li>
  <li>Max depth: <%= @dungeon.depth * 5%> ft</li>
  <li># Chambers: <%= @dungeon.chambers%> </li>
  <li>Total # Rooms: <%= @dungeon.num_rooms%> </li>
</ul>

<h2>Adventures</h2>
<ul>
  <% @dungeon.adventure_in_dungeons.each do |adventure| %>
    <li><%= link_to adventure.adventure.name, adventure.adventure %>, goal: <%= adventure.goal%> </li>
  <% end %>
</ul>

<h2>Rooms</h2>
<% style = "width:#{@dungeon.width * size + size}px;height:#{@dungeon.depth * size + size}px;position:relative; "%>
<div class="container" style = <%=style%>>

  <% @dungeon.rooms.each do |room| %>

    <% position = "position: absolute;" %>
    <% positioning = "left:#{room.x1 * size}px; top:#{room.y1 * size}px;"%>
    <% # <% object_poition = "object-position:#{room.x1 * size}px #{room.y1 * size}px;" %>

    <% dimensions = "height:#{(room.y2 - room.y1) * size }px;width:#{(room.x2 - room.x1) * size }px;" %>
    <div class="room" style="<%= position + positioning + dimensions%>border" >
      <%= room.num %>, <%= room.direction%>,<%= room.width%>,<%= room.length%>
       <% if room.chamber_purpose == nil %>
          <%= "p"%>
        <% else %>
          <%= "c" %>
        <% end %>

    </div>

  <% end %>
</div>

<div class = "container">
<ol>
  <%= render partial: @dungeon.rooms, locals: {show_dungeon:false}%>
</ol>
</div>
