<% content_for :title, @dungeon.name%>
<%= render 'dungeon_search' %>
<% size = 40%>



<h2>Dungeon Information</h2>
<ul>
  <li>Location: <%= @dungeon.location%> </li>
  <li>History: <%= @dungeon.key_event%> </li>
  <li>Purpose: <%= link_to @dungeon.dungeon_purpose.purpose, @dungeon.dungeon_purpose%> </li>
  <li>Max width: <%= @dungeon.width * 5%> ft</li>
  <li>Max depth: <%= @dungeon.depth * 5%> ft</li>
  <li># Chambers: <%= @dungeon.chambers%> </li>
  <li>Total # Rooms: <%= @dungeon.num_rooms%> </li>
</ul>

<h2>Adventures</h2>
<ul>
  <% @dungeon.adventure_in_dungeons.each do |adventure| %>
    <li><%= link_to adventure.adventure.name, adventure.adventure %>, goal: <%= adventure.goal%> </li>
  <% end %>
</ul>

<h2>Rooms</h2>
<% style = "width:#{@dungeon.width * size + size}px;height:#{@dungeon.depth * size + size}px;position:relative; "%>
<div class="container" style = <%=style%>>

  <% @dungeon.rooms.each do |room| %>

    <% position = "position: absolute;" %>
    <% positioning = "left:#{room.x1 * size}px; top:#{room.y1 * size}px;"%>
    <% # <% object_poition = "object-position:#{room.x1 * size}px #{room.y1 * size}px;" %>

    <% dimensions = "height:#{(room.y2 - room.y1) * size }px;width:#{(room.x2 - room.x1) * size }px;" %>
    <div class="room" style="<%= position + positioning + dimensions%>border" >
      <p>
         <%= link_to room.num, room %>
          <% if room.chamber_purpose != nil %>
              <%=  link_to (truncate room.chamber_purpose.purpose), room.chamber_purpose%>
            <% end %>
      </p>
    </div>
  <% end %>
</div>
