<% content_for :title, @dungeon.name%>
<h2>Dungeon Information</h2>
<ul>
  <li>Location: <%= @dungeon.location%> </li>
  <li>History: <%= @dungeon.key_event%> </li>
  <li>Purpose: <%= link_to @dungeon.dungeon_purpose.purpose, @dungeon.dungeon_purpose%> </li>
  <li>Max width: <%= @dungeon.width * 5%> ft</li>
  <li>Max depth: <%= @dungeon.depth * 5%> ft</li>
  <li># Chambers: <%= @dungeon.chambers%> </li>
  <li>Total # Rooms: <%= @dungeon.num_rooms%> </li>
</ul>

<h2>Adventures</h2>
<ul>
  <% @dungeon.adventure_in_dungeons.each do |adventure| %>
    <li><%= link_to adventure.adventure.name, adventure.adventure %>, goal: <%= adventure.goal%> </li>
  <% end %>
</ul>

<h2>Rooms</h2>
<ol>
  <%= render partial: @dungeon.rooms, locals: {show_dungeon:false}%>
</ol>
