<% content_for :title, "Dungeon Type #" + @dungeon_purpose.id.to_s %>
<h2><%=  @dungeon_purpose.purpose %> </h2>
<ul>
  <li>Total # of dungeons: <%= @dungeon_purpose.dungeons.count%> </li>
  <li>Dice used to decide chamber purpose: d<%= @dungeon_purpose.total_roll %> </li>
</ul>

<h3>Dungeons</h3>
<table class="table  table-hover">
  <tr>
    <th>Name</th>
    <th># of Rooms</th>
  </tr>
  <% @dungeon_purpose.dungeons.each do |dungeon| %>
    <tr>
      <td><%= link_to dungeon.name, dungeon%></td>
      <td><%= dungeon.num_rooms %></td>
    </tr>
  <% end %>
</table>

<h3>Chambers</h3>
<table class="table  table-hover">
  <tr>
    <th>Chamber Type</th>
    <th>Dungeon Type</th>
    <th>Roll</th>
    <th>Dice Odds</th>
  </tr>
  <%= render partial: @dungeon_purpose.chamber_purposes %>
</table>






