<% content_for :title, "Rooms" %>
<h2>Table of All Rooms</h2>
<table class="table  table-hover">
  <tr>
    <th>Room #</th>
    <th>Dungeon</th>
    <th>Chamber Type</th>
    <th>Bottom Right Point</th>
    <th>Top Left Point</th>
  </tr>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= link_to room.num, room %></td>
      <td><%= link_to room.dungeon.name, room.dungeon%></td>
      <% if room.chamber_purpose == nil %>
        <td><%= "Passage way"%></td>
      <% else %>
        <td><%= link_to room.chamber_purpose.purpose, room.chamber_purpose %></td>
      <% end %>
      <td><%= room.x1 %>, <%= room.y1 %></td>
      <td><%= room.x2 %>, <%= room.y2 %></td>
    </tr>
  <% end %>
<table>
<%= paginate @rooms %>
