
<div ><%= link_to "Home", root_path, {:class => 'text-white' } %></div>
<div ><%= link_to "Adventures", adventures_path, {:class => 'text-white' }%></div>
<div><%= link_to "Dungeons", dungeons_path, {:class => 'text-white' } %></div>
<div><%= link_to "Rooms", rooms_path, {:class => 'text-white' } %></div>
<div><%= link_to "Dungeon Types", dungeon_purposes_path, {:class => 'text-white' } %></div>
<div><%= link_to "Chamber Types", chamber_purposes_path, {:class => 'text-white' } %></div>
<div><%= link_to "About", about_index_path, {:class => 'text-white' } %></div>




