<hr>

<div class = "row">
  <div class = "col border border-dark bg-success "><%= link_to "Home", root_path, {:class => 'text-white' } %></div>
  <div class = "col border border-dark bg-success "><%= link_to "Adventures", adventures_path, {:class => 'text-white' }%></div>
  <div class = "col border border-dark bg-success"><%= link_to "Dungeons", dungeons_path, {:class => 'text-white' } %></div>
  <div class = "col border border-dark bg-success"><%= link_to "Rooms", rooms_path, {:class => 'text-white' } %></div>
  <div class = "col border border-dark bg-success"><%= link_to "Dungeon Purposes", dungeon_purposes_path, {:class => 'text-white' } %></div>
  <div class = "col border border-dark bg-success"><%= link_to "Chamber Purposes", chamber_purposes_path, {:class => 'text-white' } %></div>
  <div class = "col border border-dark bg-success"><%= link_to "About", about_index_path, {:class => 'text-white' } %></div>
</div>



