<hr>
<nav>
  <ul>
    <li><%= link_to "About", root_path %></li>
    <li><%= link_to "Dungeons", dungeons_path %></li>
    <li><%= link_to "Rooms", rooms_path %></li>
    <li><%= link_to "Dungeon Purposes", dungeon_purposes_path %></li>
    <li><%= link_to "Chamber Purposes", chamber_purposes_path %></li>
  </ul>
</nav>