<!DOCTYPE html>
<html>
  <head>
    <title>IntoToRailsProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#97B37C;" >
    <div class="container" style="background-color:#D4E196;">
      <div class="row">
        <h1 style="background-color:#C2FFA7;"><%= yield(:title) %></h1>
      </div>
      <div class ="row">
        <div class ="col-sm-2 border-dark bg-success">
          <%= render partial: 'common/menu'%>
          </div>
        <div class = "col-sm-10">
          <%= yield %>
        </div>
        <div class="row">
</div>
      </div>

    </div>
  </body>
</html>
